@model N01490200_Cumulative3_Winter2022_Mahshad.Models.Teacher
@{
    ViewBag.Title = "Delete";
}


<h2>Delete</h2>
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>

    <h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be undone.</p>

    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button class="DelBtn" href="">Confirm Delete</button>
    </form>
</div>

